@font-face {
	font-family: 'Helvetica Now Display';
	src: 
		url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'), 
		url('/fonts/HelveticaNowDisplay-Regular.woff') format('woff'), 
		url('/fonts/HelveticaNowDisplay-Regular.ttf') format('ttf'), 
		url('/fonts/HelveticaNowDisplay-Regular.eot') format('eot'), 
}

@font-face {
	font-family: 'Helvetica Now Display';
	src: 
		url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'), 
		url('/fonts/HelveticaNowDisplay-Bold.woff') format('woff'), 
		url('/fonts/HelveticaNowDisplay-Bold.ttf') format('ttf'), 
		url('/fonts/HelveticaNowDisplay-Bold.eot') format('eot'), 
}

@font-face {
	font-family: 'Helvetica Now Display';
	src: 
		url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'), 
		url('/fonts/HelveticaNowDisplay-Medium.woff') format('woff'), 
		url('/fonts/HelveticaNowDisplay-Medium.ttf') format('ttf'), 
		url('/fonts/HelveticaNowDisplay-Medium.eot') format('eot'), 
}

@font-face {
	font-family: 'Helvetica Now Display';
	src: 
		url('/fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'), 
		url('/fonts/HelveticaNowDisplay-ExtraBold.woff') format('woff'), 
		url('/fonts/HelveticaNowDisplay-ExtraBold.ttf') format('ttf'), 
		url('/fonts/HelveticaNowDisplay-ExtraBold.eot') format('eot'), 
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body
{
  font-family: 'Helvetica Now Display',sans-serif;   
	background: #FBFBFB;
}

a,li{
	list-style: none;
	text-decoration: none;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.hero{
	padding-top: 15%;
}


.wrapper {	
	min-height: 100%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: #FBFBFB;
	border-bottom: 3px solid #F0F0F0;
}
.header_container {
	padding: 0 20px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.menu_icon {
	display: none;
}
.menu_list_left li{	
	margin-right: 25px;
}
.menu_link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #353535;
	transition: all 0.15s;
}

.menu_link_mob{
	display: none;
}

.menu_link:hover {
	color: #FF7A00;
}

.header_logo{
	width: 152px; 
	height: 56px;
	background: url('../icons/Blogo.svg') center center / 100% no-repeat;
	z-index: 20;
	animation: color-change linear 1s infinite;
}

@keyframes color-change {
  0% { background: url('../icons/Blogo.svg') center center / 100% no-repeat;; }
  50% { background: url('../icons/Ologo.svg') center center / 100% no-repeat;; }
	100% { background: url('../icons/Blogo.svg') center center / 100% no-repeat;; }
}


.menu_list_right_pc {
	display: none;
}
.menu_list_right li{
	margin-left: 25px;	
}

.hero_container{
	display: flex;
	justify-content: space-between;
}

.hero_img{
	background: url(../img/bmw.png) center center / 100% no-repeat;
	width: 639px;
	height: 425px;
}
main{
	background: #FBFBFB;
}

h1{
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 130%;
	color: #353535;
	max-width: 640px;
}

h1 span{
	color: #FF7A00;
}

.hero_subtext{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: #353535;
	max-width: 495px;
	margin-top: 52px;
}

.hero_address{
	margin-top: 36px;
	display: flex;
	align-items: center;
}

.hero_address_icon{
	height: 25.5px;
	width: 20px;
	fill: #353535;

}



.hero_address_text a {
  color: #353535;
	line-height: 29px;
  letter-spacing: 0.05em;
  padding: 15px 10px;
  position: relative;
	font-size: 20px;
}
.hero_address_text a::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #FF7A00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.hero_address_text a:hover::after { 
  width: 100%; 
  left: 0; 
}


.logo_img svg{
	width: 140px;
}

.hero_divider{
	max-width: 692px;
	height: 7px;
	background: #F0F0F0;
	border-radius: 14px;
	margin: 90px auto 0;
}

.logos{
	margin-top: 5%;
}

.logos_container{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.description{
	padding: 90px 120px;
	background: #FBFBFB;
}

.descr_img{
	max-width: 510px;
}

.descr_img img{
	box-shadow: 6px 6px 0px 0px #353535;
}

.descr_content{
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 70px;
}

.descr_title{
	font-weight: 800;
	font-size: 40px;
	line-height: 59px;
	letter-spacing: 0.02em;
	color: #FF7A00;
	text-align: center;
}

.descr_text{
	font-weight: 500;
	font-size: 22px;
	line-height: 130%;
	color: #353535;
	max-width: 583px;
	margin-left: 25px;
}

.descr_text span{
	color:#FF7A00;
}

.cards {
	padding: 90px 0;
}

.cards_title, .contacts_title {
	font-weight: 800;
	font-size: 40px;
	line-height: 59px;
	letter-spacing: 0.02em;
	color: #353535;
	text-align: center;
}
.cards_container {
	margin-top: 66px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 100px;
}
.card_item {
	width: 307px;
	height: 374px;
	background: #FBFBFB;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
	border-radius: 24px;

}
.card_name {
	padding: 0 23px;
	font-weight: 700;
	font-size: 25px;
	line-height: 37px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #353535;
	margin: 42px auto 30px;
}
.card_link {	
	max-width: 244px;
	margin: 0 auto 19px;
	text-align: center;
}

.card_link a{
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #353535;
	text-decoration-line: underline;
	cursor: pointer;
	transition: all 0.2s;
}

.card_link a:hover{
	color: #FF7A00;
}

.card_img{
	padding-top: 40px;
	text-align: center;
}

.contacts{
	padding: 90px 0 60px;
}

.contacts_title{
	margin-bottom: 50px;
}

.map{
	margin: 0 auto;	
	width: 720px;
	height: 550px;
	box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.25);
	border-radius: 22px;
	overflow: hidden;
	position: relative;
}

.map_muffler{
	width: 720px;
	height: 550px;
	background: #FBFBFB;
}

.contacts_text {
	margin-top: 50px;
}

.contacts_time{
	font-weight: 400;
	font-size: 24px;
	line-height: 38px;
	letter-spacing: 0.05em;
	color: #353535;
	padding: 15px 0;
	text-align: center;
}

.contacts_name {
	font-weight: 700;
	font-size: 30px;
	line-height: 44px;
	letter-spacing: 0.02em;
	color: #353535;
	text-align: center;
}
.contacts_address_container {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
}
.contacts_map_pin svg{
	height: 37px;
	width: 29px;
}
.contacts_address a, .contacts_phone, .contacts_phone a {
	font-weight: 400;
	font-size: 26px;
	line-height: 38px;
	letter-spacing: 0.05em;
	color: #353535;
	padding: 15px 10px;
  position: relative;
}

.contacts_address a::after, .contacts_phone a::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #FF7A00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

@media(hover:hover){
	.contacts_address a:hover::after, .contacts_phone a:hover::after{ 
		width: 100%; 
		left: 0; 
	}
}



.contacts_telephone_container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
}
.contacts_phone_pin svg{
	height: 37px;
	width: 37px;
}

.footer_container {
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	max-width: 1200px;
}

.link_footer{
	color: #FBFBFB;
}

.footer {
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: #353535;
}

.footer_logo{
	width: 152px; 
	height: 56px;
	background: url('../icons/Wlogo.svg') center center / 100% no-repeat;
	z-index: 20;
	animation: color-change-f linear 1s infinite;
}

@keyframes color-change-f {
  0% { background: url('../icons/Wlogo.svg') center center / 100% no-repeat;; }
  50% { background: url('../icons/WlogoB.svg') center center / 100% no-repeat;; }
	100% { background: url('../icons/Wlogo.svg') center center / 100% no-repeat;; }
}



.type_work{
	padding-top: 100px;
}

.work_title{
	padding-top: 90px;
}

.work_descr{
	padding-top: 50px;
	display: flex;
	align-items: top;
	justify-content: center;
	gap: 70px;
}

.work_activity{
	padding-top: 25px;
}

.work_activity_container{
	padding-top: 25px;

}

.work_subtitle{
	font-weight: 700;
	font-size: 28px;
	line-height: 130%;
	letter-spacing: 0.015em;
	color: #353535;
	padding-left: 10px;
}

.work_activity_container{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.activities_container{
	margin-top: 25px;
	min-width: 489px;
	min-height: 413px;

}

.activities_img svg{
	fill: #353535;
}


.activities_text{
	font-weight: 500;
	font-size: 22px;
	line-height: 130%;
	letter-spacing: 0.015em;
	color: #353535;
}


.activity_item{
	display: flex;
	gap: 15px;
	align-items: center;
	margin-bottom: 35px;
	position: relative;
	max-width: 100%;
}


.link-popup{
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 13px solid #353535;
	border-bottom: 8px solid transparent;
	border-radius: 2px;
	position: relative;

}
.activity_img img{
	max-width: 100%;
}
.popup {
	display: none;
	background: rgba(0, 0, 0, 0.95);
	border-radius: 6px;
}

.popup1.active { 
	display: block;
	position: absolute;	
}

.popup-1.active{
	top: -550%;
	left: 100%;
	z-index: 20;
}


.popup2.active { 
	display: block;
	position: absolute;	

}

.popup-2.active{
	top: -500%;
	left: 75%;
	z-index: 20;
}

.popup-3.active{
	top: -550%;
	left: 83%;
	z-index: 20;
}

.popup-4.active{
	top: -550%;
	left: 85%;
	z-index: 20;
}

.popup-5.active{
	top: -450%;
	left: 50%;
	z-index: 20;
}

.popup-6.active{
	top: -450%;
	left: 103%;
	z-index: 20;
}

.popup-7.active{
	top: -380%;
	left: 69%;
	z-index: 20;
}

.popup3.active { 
	display: block;
	position: absolute;	

}
.popup4.active { 
	display: block;
	position: absolute;	

}
.popup_img{
	text-align: center;
}

.popup_body{
	padding: 25px 20px;
}

.popup_img svg{
	fill: #FBFBFB;
}

.popup-tel{
	padding: 20px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-tel-text{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.02em;
	color: #FF7A00;
	white-space: nowrap;
}

.popup-tel-link a{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.02em;
	color: #FF7A00;
}


.activity_list_text:not(:last-child){
	margin: 0 0 15px 0;
}

.activity_item_list{
	padding-top: 10px;
}

.activity_list_text{
	white-space: nowrap;
	font-size: 20px;
	color: #FBFBFB;
}



.activity_item_text:hover + .link-popup{
	border-left: 13px solid #FF7A00;
}

.link-popup:hover{
	border-left: 13px solid #FF7A00;
}
